SCORING GUIDELINES:
- 90-100: Perfect match, no rule violations
- 70-89: Good match with minor concerns
- 50-69: Acceptable but not ideal
- Below 50: Should not be assigned

Only suggest assignments with scores of 60 or higher.
